# MLZoomcamp 2022 - Session #1 - Homework

Author: Jos√© Victor

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Question 1

What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.23.2'

## Question 2

How many records are in the dataset?

In [3]:
df = pd.read_csv("/home/jvictor/vs_code/mlzoomcamp2022_jvscursulim/01-intro/data/data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [5]:
n_rows = len(df)
print(f"There are {n_rows} records in the dataset.")

There are 11914 records in the dataset.

## Question 3

Who are the most popular car manufactures (top-3) according to the dataset?

In [6]:
df.Make.value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4

What's the number of unique Audi car models in the dataset?

In [7]:
unique_audi_models = len(df[df.Make == "Audi"]["Model"].unique())

print(f"There are {unique_audi_models} Audi unique models.")

There are 34 Audi unique models.

## Question 5

How many columns in the dataset have missing values?

In [8]:
count = [column for column in df.isna().sum() if column > 0]
        
print(f"There are {len(count)} columns with missing values.")

There are 5 columns with missing values.

## Question 6

* Find the median value of "Engine Cylinders" column in the dataset.
* Next, calculate the most frequent value of the same "Engine Cylinders".
* Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
* Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

Hint: refer to existing `mode` and `median` functions to complete the task.

In [9]:
# Step 1
engine_cylinders_median = df["Engine Cylinders"].median()
print(f"Engine Cylinders median: {engine_cylinders_median}")

Engine Cylinders median: 6.0

In [10]:
# Step 2
engine_cylinders_mode = df["Engine Cylinders"].mode()[0]
print(f"Engine Cylinders mode: {engine_cylinders_mode}")

Engine Cylinders mode: 4.0

In [11]:
# Steps 3 and 4
df["Engine Cylinders"].fillna(engine_cylinders_mode, inplace=True)
engine_cylinders_median_after_fillna = df["Engine Cylinders"].median()
print(f"Engine Cylinders median after the use of fillna: {engine_cylinders_median_after_fillna}")

Engine Cylinders median after the use of fillna: 6.0

## Question 7

* Select all the "Lotus" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders".
* Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?

In [12]:
# Step 1
audi_cars = df[df["Make"] == "Lotus"]
audi_cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

In [13]:
# Step 2
columns_engine_hp_cylinders = audi_cars[["Engine HP", "Engine Cylinders"]]

In [14]:
# Step 3
columns_engine_hp_cylinders.drop_duplicates(inplace=True)

/tmp/ipykernel_8084/25460260.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  columns_engine_hp_cylinders.drop_duplicates(inplace=True)

In [15]:
len(columns_engine_hp_cylinders)

9

In [16]:
columns_engine_hp_cylinders

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [17]:
# Step 4
X = np.array(columns_engine_hp_cylinders)

In [18]:
# Step 5
XTX = np.matmul(X.T,X)

In [19]:
# Step 6
XTX_inverse = np.linalg.inv(XTX)

In [20]:
# Steps 7, 8 and 9
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
Z = np.matmul(XTX_inverse, X.T)
w = np.matmul(Z, y)
print(w[0])

4.594944810094551